/* .navbar{
    
    border-radius: 15px 15px 0 0;
}
.navbar-right{
    float: right!important;
    
}
.navbar-brand {
    margin-left: 5rem;
    position: relative;
    top: 40px;
}
a.nav-link{
    color: #000;
    justify-content: center;
} */

.bg {
    background-image: url(Image/Banner--A.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    color: #fff;
    text-align: right;
}

.title {
    position: fixed;
    top: 10%;
    left: 20px;
    z-index: 4;
}

.bg h1 {
    padding-top: 357px;
    padding-right: 50px;
}

.bg h1 span {
    font-size: 35px;
    font-weight: normal;
}

.bg h3 {
    font-size: 22px;
    padding-right: 50px;
    padding-top: 10px;
}

.bg h3 span {
    color: #13c0e5;
}

.wrapper {
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 10%;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 6666;
}

.menu {
    list-style: none;
    margin-bottom: 2rem;
}

.menu .list_item {
    height: 40px;
    width: 40px;
    padding: 2px;
    margin: 15px 0;
}

.list_item .fa {
    text-align: center;
    line-height: 40px;
}

.list_item a span {
    width: 0;
    left: 30px;
    top: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.6px;
    white-space: nowrap;
    line-height: 40px;
    color: #fff;

}

.list_item a {
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    color: #fff !important;
    position: relative;
}

.list_item a:hover span {
    width: auto;
    padding: 0 20px;
    overflow: visible;
    display: block;
    color: #fff;
    transition: width 2s;
}

.home,
.home span {
    background: #96ae5a
}

.about,
.about span {
    background: #4f772d
}

.services,
.services span {
    background: #31572c
}

.contact,
.contact span {
    background: #131a13
}


/*About Start*/
.About_ft {
    background-color: #f8f7f3;
    padding-top: 5rem;

}

.About_Bg {
    width: 100%;
}

.About_Header {
    margin-bottom: 3rem;
}

h2.First_title {
    color: #000;
    text-align: center;
    padding-top: 17px;
}

.About_Text {
    color: #000;
    margin: 50px 25px 75px 25px;
    width: auto;
    text-align: left;
}

.About_Text h1 span {
    font-size: 24px;
}

.About_Text h3 {
    color: #96ae5a;
    margin-bottom: 2rem;
}

.About_Text h5 {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 3rem;
    font-size: 18px;
}

.About_Text h5 span {
    color: #96ae5a;
}

.About_Text p {
    color: #666;
    font-size: 16px;
    margin-bottom: 4rem;
}

.About_Text .btn-light {
    border-radius: 50px;
    width: 150px;
    box-shadow: 5px 5px 5px #3333;

}

.About_Text .btn-light:hover {
    border-radius: 50px;
    width: 150px;
    background-color: #31572c;
    color: #fff;
}

.About_Image {
    color: #000;
    padding-top: 50px;
    padding-left: 160px;
}

.About_Image img {
    width: 350px;
    height: auto;
}

/* Define our pulse animation */
@-webkit-keyframes pulse {
    0% {
        font-size: 100px;
    }
    25% {
        font-size: 110px;
    }
    50% {
        font-size: 90px
    }
    75% {
        font-size: 110px;
    }
    100% {
        font-size: 100px;
    }
}   
/* Apply our pulse animation */
.heart {
    position: absolute;
    right: 50px;
    
    font-size:40px;
    color: LIGHTPINK;
    -webkit-animation:pulse 5s ease-in-out infinite;
    -webkit-animation-direction: alternate;
}


/*Services start*/
.Service_Header {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(rgba(99, 97, 97, 0.1), rgba(255, 255, 255));
}

.Services_Title h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.wrap {
    background-image: url(Image/Service-image.jpg);
    background-size: cover;
    
    background-attachment: fixed;
    position: relative;
    z-index: 1;

}

.wrap::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;

}

.Service_Main {
    height: auto;

}

.Service_Main .Sarvices-A {
    text-align: center;
}

.Service_Main .Sarvices-A h3 {
    margin-bottom: 1rem;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.Service_Main .Sarvices-A h3 span {
    font-style: italic;
    font-weight: 700;
    color: #96ae5a;
}

.Service_Main .Sarvices-A p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 3rem;
}

.service_icon {
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.service_icon i {
    color: #96ae5a;
    font-size: 35px;
}

.Service_Exper {
    text-align: center;
    background-image: linear-gradient(to right, rgba(150, 174, 90, 1), rgba(49, 87, 44, 1));
    width: 100%;
    height: auto;
}

.Service_Exper h2 {
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.Exp-First h2 {
    margin-bottom: 1rem;
    margin-top: 0rem;
}

.Exp-First {
    width: 100%;

    background-color: #fff;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5rem;
}

.Exp-First p {
    color: #131a13;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 2rem;
}

.Exp-Second {
    width: auto;
    height: 50px;
    border-radius: 50px;
    background-color: #13c0e5;
    position: relative;
    bottom: 25px;
}
/* Skill Start*/
.btn {
    margin-top: 20px;
  }


.section{

    background-image: url(Image/Service-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

padding-top: 5rem;
padding-bottom: 5rem;

}
  .skill {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    margin-bottom: 2rem;
    position: relative;
    border-bottom: 4px solid #fff;
    border-bottom: 4px solid #fff;}
.skill-title {
      
      font-size: 16px;
      font-weight: 600;
      color: #000;
    }
.skill-percent {
     
      font-size: 16px;
      font-weight: 600;
      color: #000;
      position: absolute;
      right: 0;
      top: 5px;
      line-height: 1;
    }
    .skill-bar {
      background-color: #fff;
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 4px;
      @include transition(all 3s);
    }



/* Contact Start*/
.Contact_section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f8f7f3;
    width: 100%;
    height: auto;
    color: #000;
    text-align: center;
}
.Contact_section {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.Contact_section h2 {
    margin-bottom: 3rem;
}

.Contact-img {
    border-right: 2px #000 solid;
}

.Contact_image img {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 111;
}

.btn.btn-Im {
    background-color: #13c0e5;
    color: white;
    padding: 5px 32px;
    bordr-radius: 25px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 1rem;
    position: absolute;
    z-index: 222;
    left: 17rem;

}

.Contact_Form {
    align-items: center;
    margin-top: 1rem;
}

.Contact_Form .form-group {
    margin-left: 100px;
}

.Contact_Form .form-control {
    display: block;
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    border-radius: 0px !important;




}

.form-group textarea.form-control {
    min-height: calc(1.5em + 13.75rem + 2px) !important;
}

.btn.btn-Me {
    background-color: #13c0e5;
    color: white;
    padding: 5px 32px;
    bordr-radius: 25px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 3rem;
}

.btn.btn-Me:hover {
    text-decoration: none;
    background-color: #4f772d;
    color: #fff;
    border: none;
}


/* footer start */
.Section_Footer .Footer_Para {
    background-color:#4f772d;
    color: #000;
    height: auto;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.Section_Footer .row {
    margin-right: 0px;
    margin-left: 0px;
}

@media only screen and (max-width: 600px) {
    .title {
        position: fixed;
        top: 10%;
        right: 20px;
    }

    .text {
        display: none;
    }

    .About_Text {
        color: #000;
        margin: 50px 50px 50px 50px;
        width: auto;
        text-align: left;
    }

    .About_Image {
        color: #000;
        padding-top: 50px;
        padding-left: 105px;
    }
}

@media only screen and (max-width: 1022px) {
    .bg h1 {
        padding-top: 410px;
        padding-right: 50px;
    }

    .bg h1 span {
        font-size: 18px;
        font-weight: normal;
    }

    .bg h3 {
        font-size: 16px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .bg h3 span {
        color: black;
    }
}